html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(45deg, #0a1a33 0%, #061327 100%);
  background-size: 200% 200%;
  animation: backgroundMove 6s ease infinite;
}

@keyframes backgroundMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
